#outer{
    height: 40rem;
    width: 90rem;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.innerbox{
    font-size: 30px;
    text-align: center;
    margin: 3px;
    height: 15rem;
    width: 20rem;
    border: 2px solid black;
}