<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Todo App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form action="#">
    <label for="title">Enter a Title for task</label>
    <input type="text" id="title" class="title" placeholder="Enter Title" value=""/>
    <label for="discrib">Description</label>
    <input type="text" id="discrib" class="discrib" placeholder="Enter description" value="" />
    <button class="btn">submit</button>
</form>
    <ul class="list">
    </ul>
    <script src="app.js"></script>
  </body>
</html>
