*{
    padding: 0;
    margin: 0;
}
#main{
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:rgba(27, 24, 42, 0.816);
    /* background-image: url("https://th.bing.com/th/id/R.ac3705cd758b0ac276b24132253b292f?rik=Gsj4Yl1r6%2boxew&riu=http%3a%2f%2fwww.drodd.com%2fimages15%2fnumbers5.jpg&ehk=6cb1jZkFIdRLdeGtb%2fXCBq2HJLuOqICH6W%2bY0Z9%2flTY%3d&risl=&pid=ImgRaw&r=0"); */
}
#main_contain{
    height: 700px;
    width: 500px;
    background-color: #171423;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 50px #606060;

}
.result{
    height: 300px;
    width: 100%;
    background-color: #171423;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.row{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.dialpad{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center  ;
    font-size: 2em;
}
.btn{
    width: 70px;
    height: 50px;
    /* border: 2px solid black; */
    padding-top: 20px;
    border-radius: 50%;
    text-align: center;
    transition: 0.1s;
    color: white;
   box-shadow: 5px 0px 5px #2c2938;

}
.btn:hover{
    transform:scale(1.1);
    background-color: #1b182a;
    color: white;
    /* box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.455); */
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.455);

    cursor: pointer;
}
.ans{
    background-color:#a06308;
    padding-bottom: 2px;
}
.ans:hover{
    background-color: #ff9b00;
}
input{
    height: 100%;
    width: 100%;
    background-color: #171423;
    border-radius: 10px;
    font-size: 50px;
    color: white;
    border: none;
    box-shadow: inset 0px 0px 10px rgba(110, 110, 110, 0.258);
}
input:focus-visible{
   outline: -webkit-focus-ring-color auto 0px; 
}